---
layout: base.njk
pagination:
  data: professionnels.profiles
  size: 1
  alias: profil
  addAllPagesToCollections: true
permalink: "/professionnels/{{ profil.slug }}/"
eleventyComputed:
  pageKey: "{{ profil.key }}"
  title: "{{ profil.title | safe }}"
  description: "{{ profil.description | safe }}"
  date: "2026-06-28"
  lastReviewed: "2026-06-28"
  hasHeroVideo: true
  sitemap:
    changefreq: weekly
    priority: 0.88
  keywords: "{{ profil.keywords }}"
  breadcrumb:
    "@context": "https://schema.org"
    "@type": "BreadcrumbList"
    itemListElement:
      - "@type": "ListItem"
        position: 1
        name: "Accueil"
        item: "https://redkmotors.fr/"
      - "@type": "ListItem"
        position: 2
        name: "Espace Pro"
        item: "https://redkmotors.fr/professionnels/"
      - "@type": "ListItem"
        position: 3
        name: "{{ profil.navTitle }}"
        item: "https://redkmotors.fr/professionnels/{{ profil.slug }}/"
---

{% include "pro-page.njk" %}
