<section class="conversion-nav" aria-labelledby="conversion-nav-title">
  <div class="container">
    {% set sectionKicker = "Prestations" %}
    {% set sectionTitle = "Tous nos services" %}
    {% set sectionHeadId = "conversion-nav-title" %}
    {% include "conversion-section-head.njk" %}
    <ul class="conversion-nav__grid">
      <li><a href="/mecanique/">Réparation auto</a></li>
      <li><a href="/diagnostic/">Diagnostic auto</a></li>
      <li><a href="/entretien/">Révision voiture</a></li>
      <li><a href="/vidange/">Vidange</a></li>
      <li><a href="/freins/">Changement plaquettes frein</a></li>
      <li><a href="/pneumatiques/">Changement pneus</a></li>
      <li><a href="/prestations/recharge-clim/">Réparation clim</a></li>
      <li><a href="/carrosserie/">Carrosserie</a></li>
      <li><a href="/pare-brise/">Pare-brise</a></li>
      <li><a href="/professionnels/">Espace Pro</a></li>
      <li><a href="/tarifs/">Tarifs</a></li>
    </ul>
  </div>
</section>
