<section class="conversion-nav" aria-labelledby="conversion-nav-title">
  <div class="container">
    {% set sectionKicker = "Prestations" %}
    {% set sectionTitle = "Tous nos services" %}
    {% set sectionHeadId = "conversion-nav-title" %}
    {% include "conversion-section-head.njk" %}
    <ul class="conversion-nav__grid">
      <li><a href="/mecanique/">Mécanique</a></li>
      <li><a href="/diagnostic/">Diagnostic</a></li>
      <li><a href="/entretien/">Entretien</a></li>
      <li><a href="/vidange/">Vidange</a></li>
      <li><a href="/freins/">Freins</a></li>
      <li><a href="/pneumatiques/">Pneus</a></li>
      <li><a href="/carrosserie/">Carrosserie</a></li>
      <li><a href="/pare-brise/">Pare-brise</a></li>
      <li><a href="/professionnels/">Espace Pro</a></li>
      <li><a href="/tarifs/">Tarifs</a></li>
    </ul>
  </div>
</section>
