<div class="pricing-table-wrap">
  <table class="pricing-table">
    <caption class="sr-only">Grille de prix indicative RED-K MOTORS</caption>
    <thead>
      <tr>
        <th scope="col">Prestation</th>
        <th scope="col">À partir de / fourchette</th>
      </tr>
    </thead>
    <tbody>
      <tr><th scope="row">Diagnostic avancé (approfondi)</th><td>50&nbsp;€ – 100&nbsp;€</td></tr>
      <tr><th scope="row">Vidange (huile + filtre)</th><td>70&nbsp;€ – 150&nbsp;€</td></tr>
      <tr><th scope="row">Révision</th><td>130&nbsp;€ – 400&nbsp;€</td></tr>
      <tr><th scope="row">Plaquettes</th><td>100&nbsp;€ – 190&nbsp;€</td></tr>
      <tr><th scope="row">Disques + plaquettes</th><td>240&nbsp;€ – 590&nbsp;€</td></tr>
      <tr><th scope="row">Géométrie / parallélisme</th><td>80&nbsp;€ – 160&nbsp;€</td></tr>
      <tr><th scope="row">Amortisseurs (paire, pose incluse)</th><td>380&nbsp;€ – 800&nbsp;€</td></tr>
      <tr><th scope="row">Kit distribution (courroie + pose)</th><td>450&nbsp;€ – 990&nbsp;€</td></tr>
      <tr><th scope="row">Embrayage</th><td>800&nbsp;€ – 1&nbsp;600&nbsp;€</td></tr>
      <tr><th scope="row">Montage 4 pneus + équilibrage</th><td>60&nbsp;€ – 150&nbsp;€</td></tr>
      <tr><th scope="row">Carrosserie</th><td>Sur devis</td></tr>
      <tr><th scope="row">Pré-contrôle technique</th><td>40&nbsp;€</td></tr>
    </tbody>
  </table>
</div>
