---
layout: layout-modele-hub.njk
pagination:
  data: priceExamples.MODELS
  size: 1
  alias: modele
permalink: "/exemples/modeles/{{ modele.slug }}/index.html"
eleventyComputed:
  ogType: "article"
sitemap:
  changefreq: monthly
  priority: 0.6
---
