---
layout: base.njk
pagination:
  data: prestations.all
  size: 1
  alias: prestation
  addAllPagesToCollections: true
permalink: "/prestations/{{ prestation.slug }}/"
eleventyComputed:
  title: "{{ prestation.lp.heroTitle | safe }} | RED-K MOTORS"
  description: "{{ prestation.lp.heroDesc | safe }} Devis gratuit · lun–sam 9h–19h."
  pageKey: "prestation-{{ prestation.slug }}"
---

{% include "lp-page.njk" %}
