---
permalink: /revision/
eleventyExcludeFromCollections: true
layout: false
---
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Redirection…</title>
  <link rel="canonical" href="{{ site.url }}/entretien/">
  <meta http-equiv="refresh" content="0;url=/entretien/">
  <meta name="robots" content="noindex, follow">
  <script>location.replace("/entretien/");</script>
</head>
<body>
  <p>Redirection vers <a href="/entretien/">Entretien &amp; révision</a>.</p>
</body>
</html>
