---
permalink: /sitemap.xml
layout: null
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <sitemap>
    <loc>{{ site.url }}/sitemap-pages.xml</loc>
    <lastmod>{{ buildDate }}</lastmod>
  </sitemap>
  <sitemap>
    <loc>{{ site.url }}/sitemap-blog.xml</loc>
    <lastmod>{{ buildDate }}</lastmod>
  </sitemap>
  <sitemap>
    <loc>{{ site.url }}/sitemap-exemples.xml</loc>
    <lastmod>{{ buildDate }}</lastmod>
  </sitemap>
</sitemapindex>
